:root {
  --primary: #00679E;
  --secondary-100: #FAFAFB;
  --secondary-200: #F5F5F5;
  --secondary-400: #C4C4C4;
  --gray-light: #606170;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flex {
  display: flex !important;
}

.bg-pink {
  background-color: pink;
}

.pointer {
  cursor: pointer;
}
.camera-wrapper {
  position: relative;
}

.camera-wrapper .camera-image-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.camera-wrapper .camera-image-overlay img {
  width: 100%;
  height: 100%;
}
.blank-image {
  height: 200px;
  width: auto;
  min-width: 400px;
  border: 1px dotted black;
}